<div> 
    Health Status: {{api.status}}
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody *ngFor="let name of names">
            <tr>
                <td>{{name.id}}</td>
                <td>{{name.name}}</td>
            </tr>
        </tbody>
    </table> 
</div>
